.idea/**
tools/vmconfig/ccvm/ccvm.xml
tools/vmconfig/ccvm/hosts
tools/vmconfig/ccvm/id_rsa
tools/vmconfig/ccvm/id_rsa.pub
tools/vmconfig/ccvm/secret.xml
tools/vmconfig/scvm/hosts
tools/vmconfig/scvm/id_rsa
tools/vmconfig/scvm/id_rsa.pub
tools/vmconfig/scvm/scvm.xml
